<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<input id="text-input" type="text" onkeydown="Converse.inputKeyDown(event, this)">

<script src="/js/api.js"></script>
<script src="/js/converse.js"></script>
<script src="/js/global.js"></script>
